<style>
  .rss-link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    line-height: 1;
    vertical-align: text-bottom;
  }

  .rss-link:hover {
    text-decoration: none;
  }

  .rss-link .svg-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    flex: none;
  }

  .rss-link .svg-icon.orange {
    color: #f28c28;
  }

  .rss-link:hover .svg-icon.orange {
    color: #e67900;
  }
</style>

<style>
  /* fixing horizontal scroll */
  .highlight, .code {
    overflow-x: auto;
    display: block;
    width: 100%;
  }

  .highlight pre, .code pre {
    width: max-content;
    min-width: 100%;
    margin: 0;
  }
    /* responsive images */
  img {
    max-width: 100%;
    height: auto;
  }

  /* responsive tables */
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
</style>

<script data-goatcounter="https://goaticctx.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
